@import "./libs/tailwind.css";
@import "./libs/daisy-ui.css";
@import "./libs/lucide.css";

@import "./core/config.css";

@import "./components/divider.css";
@import "./components/input.css";
@import "./components/menu.css";

* {
	scrollbar-width: none;
}
